.titleBlock__container {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;

    > .heading {
        margin: 0 0 0.5rem 0;
    }

    > .subheading {
        margin: 0 0 0 1rem;

        &__content {
            margin: 1rem;
        }
    }
}