// Colors:
$font-dark: #2F2F2F;
$font-dark-transparent: #2F2F2F4D;
$font-light: #F2F2F2;
$font-accent-pink: #EA3D5F;
$font-accent-blue: #24AEE6;


// Typography:
$font-heading: 'Montserrat', sans-serif;
$font-body: 'EB Garamond', serif;