@import "../styles/typography.scss";

.subheading {
    &__content {
        color: $font-dark;
        font-family: $font-heading;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 2rem 0 1rem 1rem;
    }
}